    
    
    <!--JAVASCRIPT-->
	<!--=================================================-->

	<!--jQuery [ REQUIRED ]-->
	<script src="/assets/js/jquery-2.1.1.min.js"></script>


	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="/assets/js/bootstrap.min.js"></script>


	<!--Fast Click [ OPTIONAL ]-->
	<script src="/assets/plugins/fast-click/fastclick.min.js"></script>

	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="/assets/js/nifty.js"></script>


	<!--Switchery [ OPTIONAL ]-->
	<script src="/assets/plugins/switchery/switchery.min.js"></script>


	<!--Bootstrap Select [ OPTIONAL ]-->
	<script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>

    <?php foreach ($scripts as $script) { ?>
    <script src="<?php echo $script; ?>" type="text/javascript"></script>
    <?php } ?>
    
	<!--Demo script [ DEMONSTRATION ]-->
	<!--script src="/assets/js/demo/nifty-demo.js"></script-->
    <script src="/assets/js/app.js"></script>

</body>
</html>