<html>
<head>
    <title>测试</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/plugins/chosen/chosen.min.css" rel="stylesheet">
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/chosen/chosen.jquery.min.js"></script>
</head>
<body>
    <select data-placeholder="选择规格 " p_action_dom="chosen-select-set-variation" multiple>
        <option value="0">颜色</option>
        <option value="1">尺寸</option>
        <option value="2">重量</option>
        <option value="3">材质</option>
        <option value="4">体积</option>
    </select>
    <script>
    $(function(){
        $('select[p_action_dom="chosen-select-set-variation"]').chosen({
            width: '60%',
            max_selected_options: 2
        }).on('change', function(a, b, c){
            console.log(a);
            console.log(b);
            console.log(c);
        });
    });
    </script>
</body>
</html>
