<div class="row">
    <!--Tile with progress bar - (New Order)-->
    <!--===================================================-->
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-purple panel-colorful">
            <div class="pad-all media">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-xs">
                        <i class="fa fa-shopping-cart fa-fw fa-2x"></i>
                    </span>
                </div>
                <div class="media-body">
                    <p class="h3 text-thin media-heading">345</p>
                    <small class="text-uppercase">今日订单数</small>
                </div>
            </div>
            <div class="progress progress-xs progress-dark-base mar-no">
                <div style="width: 75%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar"></div>
            </div>
            <div class="pad-all text-right">
                <small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i>昨日订单数：954</span></small>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Tile with progress bar - (New Order)-->
    
     <!--Tile with progress bar - (月订单)-->
    <!--===================================================-->
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-pink panel-colorful">
            <div class="pad-all media">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-xs">
                        <i class="fa fa-shopping-cart fa-fw fa-2x"></i>
                    </span>
                </div>
                <div class="media-body">
                    <p class="h3 text-thin media-heading">14,675</p>
                    <small class="text-uppercase">本月订单</small>
                </div>
            </div>
            <div class="progress progress-xs progress-dark-base mar-no">
                <div style="width: 30%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" role="progressbar"></div>
            </div>
            <div class="pad-all text-right">
                <small><span class="text-semibold"><i class="fa fa-shopping-cart fa-fw"></i>上月订单：30,768</span></small>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Tile with progress bar - (月订单)-->
    
    
    
    
    <!--Tile with progress bar - (Earning)-->
    <!--===================================================-->
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-success panel-colorful">
            <div class="pad-all media">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-xs">
                        <i class="fa fa-dollar fa-fw fa-2x"></i>
                    </span>
                </div>
                <div class="media-body">
                    <p class="h3 text-thin media-heading">7,428</p>
                    <small class="text-uppercase">今日销售额</small>
                </div>
            </div>
            <div class="progress progress-xs progress-dark-base mar-no">
                <div style="width: 37.4%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="37.4" role="progressbar"></div>
            </div>
            <div class="pad-all text-right">
                <small><span class="text-semibold"><i class="fa fa-dollar fa-fw"></i>昨日销售额：22,675</span></small>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Tile with progress bar - (Earning)-->
    
    
    

    <!--Tile with progress bar - (月销售额)-->
    <!--===================================================-->
    <div class="col-md-6 col-lg-3">
        <div class="panel panel-mint panel-colorful">
            <div class="pad-all media">
                <div class="media-left">
                    <span class="icon-wrap icon-wrap-xs">
                        <i class="fa fa-comment fa-2x"></i>
                    </span>
                </div>
                <div class="media-body">
                    <p class="h3 text-thin media-heading">11,398</p>
                    <small class="text-uppercase">本月销售额</small>
                </div>
            </div>
            <div class="progress progress-xs progress-dark-base mar-no">
                <div style="width: 45.9%" class="progress-bar progress-bar-light" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45.9" role="progressbar"></div>
            </div>
            <div class="pad-all text-right">
                <small><span class="text-semibold"><i class="fa fa-unlock-alt fa-fw"></i> 上月销售额：33,312</span></small>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!--End Tile with progress bar - (月销售额)-->
    
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">月销售额同比</h3>
            </div>
            <div class="panel-body">
                <!--Morris Bar Chart placeholder -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div id="echarts_month_compare" style="height:350px"></div>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">本月产品排名</h3>
            </div>
            <div class="panel-body">
                <!--Morris Bar Chart placeholder -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div id="echarts_product_compare" style="height:212px"></div>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">本月国家排名</h3>
            </div>
            <div class="panel-body">
                <!--Morris Bar Chart placeholder -->
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                <div id="echarts_country_compare" style="height:212px"></div>
                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            </div>
        </div>
    </div>
</div>




