<?php echo $frame['header'];?>
<link href="/assets/css/demo/nifty-demo.min.css" rel="stylesheet">
<div id="container" class="cls-container">
    <div id="bg-overlay" class="bg-img img-balloon"></div>
    <div class="cls-header cls-header-lg">
        <div class="cls-brand">
            <span class="brand-title"><?php echo $language->get('common')->domain;?></span>
        </div>
    </div>
    <div class="cls-content">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <p class="pad-btm"><?php echo $language->get('account_register_index')->title;?></p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="text" class="form-control" placeholder="<?php echo $language->get('account_register_index')->username;?>" name="name" value="<?php echo $name ? $name : '';?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                                <input type="Password" class="form-control" placeholder="<?php echo $language->get('common')->password;?>" name="password" value="<?php echo $password ? $password : '';?>" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                <input type="text" class="form-control" placeholder="<?php echo $language->get('common')->email;?>" name="email" value="<?php echo $email ? $email : '';?>" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-unlock-alt"></i></div>
                                <input type="password" class="form-control" placeholder="<?php echo $language->get('account_register_index')->confirm_password;?>" name="confirm_password" value="<?php echo $confirm_password ? $confirm_password : '';?>" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 text-left checkbox">
                        <label class="form-checkbox form-icon">
                            <input type="checkbox" name="TermsOfService" value="1"><?php echo $language->get('account_register_index')->agree;?> <a href="javascript:;" style="color:#337ab7;"><?php echo $language->get('account_register_index')->terms_of_service;?></a>
                        </label>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group text-right">
                            <button class="btn btn-primary text-uppercase" type="button" id="register"><?php echo $language->get('common')->submit;?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pad-ver">
            <?php echo $language->get('account_register_index')->has_account;?>
            <a href="<?php echo $url->link('account/login');?>" class="btn-link mar-rgt"><?php echo $language->get('account_register_index')->login;?></a>
        </div>
    </div>
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<script>
var account_register_message = <?php echo json_encode($language->get('account_register_index')->message);?>;
$(function(){
    $("#register").click(function(){
        var params = {};
        var regex_email = <?php echo $account_register_index['regex_email'];?>;
        params.name = $('input[name=name]').val();
        params.email = $('input[name=email]').val();
        params.password = $('input[name=password]').val();
        params.confirm_password = $('input[name=confirm_password]').val();
        params.TermsOfService = $('input[name=TermsOfService]:checked').val();

        if(!params.name) {
            swal('', account_register_message.empty_name, 'warning');
            return;
        }

        if(params.name.length < 2 || params.name.length > 50) {
            swal('', account_register_message.invalid_name_length, 'warning');
            return;
        }

        if(!params.email) {
            swal('', account_register_message.empty_email, 'warning');
            return;
        }

        if(!regex_email.test(params.email)) {
            swal('', account_register_message.invalid_email_format, 'warning');
            return;
        }

        if(!params.password) {
            swal('', account_register_message.empty_password, 'warning');
            return;
        }

        if(params.password.length < 6 || params.password.length > 22) {
            swal('', account_register_message.invalid_password_length, 'warning');
            return;
        }

        if(params.password != params.confirm_password) {
            swal('', account_register_message.invalid_confirm_password, 'warning');
            return;
        }

        if(!params.TermsOfService) {
            swal('', account_register_message.invalid_TermsOfService, 'warning');
            return;
        }

        $.ajax({
            type: 'POST',
            url: '<?php echo $url->link("account/register/check");?>',
            data: params,
            dataType: 'json',
            success: function(response) {
                if(!response.status) {
                    swal('', response.message, 'error');
                } else {
                    swal({
                        title: '',
                        text: response.message,
                        type: "success",
                        confirmButtonText: "OK"
                    }, function(){
                        window.location.href='<?php echo $url->link("home/home");?>';
                    });
                }
            }
        });
    });
});
</script>
<?php echo $frame['footer'];?>